# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Temporary and Cache files
tmp/
*.tmp
*.log

# macOS
.DS_Store

# Node.js / React
node_modules/
dist/
frontend/node_modules/
frontend/dist/

# Internal Notes
explanation.md
test_out.mapping.json

